<div class="container">
    <div class="fs-1 fw-bold text-decoration-underline">
        About
    </div>

    <div class="container" style="width: 1000px;padding: 10px;margin: 50px;">
        <p>
            This is my first Angular project and her you should find an decription.
            <br />
            <br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis viverra rhoncus libero ac pellentesque. Phasellus elementum augue nisi, ut tempor sapien mollis lacinia. Vivamus id odio eros. Ut a tortor nec magna dignissim ultricies. Nullam purus enim, pellentesque nec est at, aliquet vehicula lacus. Cras elit nibh, feugiat vel aliquam in, elementum a justo. Sed varius mi nisl, et gravida ante eleifend eu. Vestibulum sollicitudin leo dui, at viverra tellus pellentesque ut.
            <br />
            <br />
            Praesent pharetra porttitor nisl, quis facilisis leo elementum sed. Aenean lacinia volutpat sagittis. Nulla hendrerit cursus arcu non pretium. Curabitur eget iaculis mauris. Donec convallis laoreet neque, vitae sollicitudin purus aliquet ac. Phasellus quis tincidunt nibh, in vestibulum tellus. Curabitur viverra aliquam enim sit amet vulputate. Fusce sodales lectus tortor, quis consequat dolor maximus at. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mattis mattis neque. Donec sed odio at risus finibus aliquet at ornare sem. Quisque imperdiet volutpat sodales. Proin sit amet purus tellus. Ut et porttitor dui, id cursus dolor.
            <br />
            <br />
            Nulla eu euismod leo, nec pellentesque arcu. Aenean gravida, urna eu aliquam faucibus, quam enim tempus lorem, cursus rhoncus tortor mauris non nisi. Donec pharetra dapibus ligula. Nunc odio velit, feugiat a dapibus sit amet, accumsan non elit. Sed ullamcorper auctor consequat. Sed tristique, nunc facilisis lacinia maximus, quam nulla gravida nulla, vitae dignissim risus est rutrum eros. Ut iaculis orci nunc, eget viverra dui varius a. Cras ultricies eleifend efficitur. Cras nibh mauris, pulvinar non ligula non, scelerisque semper ex. Nam ut neque orci. Donec quis turpis a leo mollis ultricies. Fusce mauris nisl, mollis nec dictum nec, venenatis id leo. Morbi viverra justo sed ligula luctus, sit amet aliquet libero imperdiet.
            <br />
            <br />
            Nulla facilisi. Aliquam fermentum, libero eu rutrum egestas, neque er
        </p>
    </div>
</div>
